x-environment: &env
  NODE_ENV: "production"
  DB_HOSTNAME: "immich_postgres"
  DB_USERNAME: &db_username "immich"
  DB_PASSWORD: &db_password "${DB_PASSWORD}"
  DB_DATABASE_NAME: &db_database_name "immich"
  REDIS_HOSTNAME: "immich_redis"
  LOG_LEVEL: "log"
  JWT_SECRET: ${APP_SEED}
  DISABLE_REVERSE_GEOCODING: "false"
  REVERSE_GEOCODING_PRECISION: "3"
  PUBLIC_LOGIN_PAGE_MESSAGE: ""
  IMMICH_MACHINE_LEARNING_URL: "http://immich_machine_learning:3003"

services:
  server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:${VERSION}
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - ${IMMICH_STORAGE_DIR}/immich/upload:/usr/src/app/upload
      - ${CONFIG_DIR}/immich/backups:/usr/src/app/upload/backups
    environment:
      <<: *env
    ports:
      - ${PORT}:2283
    depends_on:
      - redis
      - postgres
    restart: unless-stopped


  machine-learning:
    container_name: immich_machine_learning
    image: ghcr.io/immich-app/immich-machine-learning:${VERSION}
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - ${CONFIG_DIR}/immich/model-cache:/cache
    environment:
      <<: *env
    restart: unless-stopped

  redis:
    container_name: immich_redis
    image: docker.io/valkey/valkey:8-bookworm
    healthcheck:
      test: redis-cli ping || exit 1
    restart: unless-stopped

  postgres:
    container_name: immich_postgres
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0
    environment:
      <<: *env
      POSTGRES_PASSWORD: *db_password
      POSTGRES_USER: *db_username
      POSTGRES_DB: *db_database_name
      POSTGRES_INITDB_ARGS: '--data-checksums'
    volumes:
      - ${CONFIG_DIR}/immich/postgres:/var/lib/postgresql/data
    shm_size: 128mb
    restart: unless-stopped
