services:
  jellyfin:
    container_name: jellyfin
    image: linuxserver/jellyfin
    restart: unless-stopped
    devices:
      - /dev/dri:/dev/dri
    group_add: 
      - ${RENDER_GROUP_ID}
    environment:
      - PUID=0
      - PGID=0
      - JELLYFIN_PublishedServerUrl="${JELLYFIN_PUBLISHED_SERVER_URL}"
      - DOCKER_MODS=linuxserver/mods:jellyfin-opencl-intel
    volumes:
      - ${CONFIG_DIR}/jellyfin/config:/config
      - ${MEDIA_LIBRARY_DIR}:/media_library
    ports:
      - ${PORT}:8096
      # - 7359:7359/udp # Service auto-discovery
